{% load static %}

<footer class="footer text-center text-lg-start">
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase mt-4 fw-bold">Blockmind Research</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto">
                        <p>
                           Blockmind Research is a pioneering force in the realm of cutting-edge research.
                            We specialize in exploring the frontiers of technology, with a particular focus on blockchain, artificial intelligence, machine learning, and deep learning.
                            Our passion lies in unraveling the complexities of these fields and pushing the boundarieinnovation.
                        </p>
                    </div>

                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase mt-4 fw-bold">Research Categories</h6>
                        <hr class="mb-4 mt-1 d-inline-block mx-auto">
                        <p>
                            <a href="#" class="text-white">Blockchain Technology</a>
                        </p>
                        <p>
                            <a href="#" class="text-white">Artificial Intelligence (AI)</a>
                        </p>
                        <p>
                            <a href="#" class="text-white">Machine Learning (ML)</a>
                        </p>
                        <p>
                            <a href="#" class="text-white">Deep Learning</a>
                        </p>
                    </div>

                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mt-4 ">Useful links</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto">
                        <p>
                            <a href="#" class="text-white">Resources</a>
                        </p>
                        <p>
                            <a href="#" class="text-white">Publications</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Project</a>
                        </p>
                        <p>
                            <a href="#!" class="text-white">Contact</a>
                        </p>
                    </div>

                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase  mt-4 fw-bold">Contact</h6>
                        <hr class="mb-4 mt-0 d-inline-block mx-auto">
                        <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
                        <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
                        <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
                        <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
                    </div>
                </div>
            </div>
        </section>
    </footer>

         <footer class="text-center py-4" style="background: #152239; color: #ffffff;">
            <p class="mb-0">&copy; 2024 BlockMind Research. All Rights Reserved.</p>
            <p class="mb-0">Designed and Developed by <span style="font-weight: bold;">Aonyo Mojumder</span></p>
        </footer>


        <script src="{% static 'js/aos.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/dataTables.bootstrap5.min.js' %}"></script>
        <script src="{% static 'js/jquery.data Tabies.main.js' %}"></script>
        <script src="{% static 'js/jquery-3.7.0.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>

        <script>
            AOS.init();
        </script>
</body>
</html>