{% extends 'base.html' %}
{% load static %}

{% block content %}
<section id="gallery_main">
    <div class="about_main clearfix" style="height: 350px">
        <div class="container d-flex align-items-center justify-content-center" style="height: 100%; text-align: center;">
            <div class="gallery_main_1 text-white mt-4">
                <h2 style="color: #0ce538;">RESOURCES</h2>
            </div>
        </div>
    </div>
</section>
<section id="about" class="pt-5">
    <div class="container">
        <div class=" h_about border-0 shadow mb-4">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="container pt-4">
                        <h2 class="card-title fw-bold text-primary mb-4" style="font-family: 'Arial', sans-serif; font-size: 28px; text-align: justify;">{{ resource.resource_name }}</h2>
                        <p class="card-text" style="font-family: 'Arial', sans-serif; font-size: 18px; text-align: justify;">
                           {{ resource.resource_description }}
                        </p>
                        <a href="{{ resource.pdf_file.url }}"class="btn btn-primary text-decoration-none mt-3" style="font-size: 20px;">Learn More</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <img src="{{ resource.resource_img.url }}" alt="About Us Image" class="img-fluid rounded-start">
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
